.main_section {
    background-image: url(../img/hero_1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 32rem;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;

    .overlay {
        width: 100%;
        height: 32rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.2;
    }

    .row {
        position: absolute;
        display: flex;
        top: 12.3rem;

        .col-md-12 {
            color: white;
            padding: 0 15px;
        }

        h1 {
            font-size: 5rem;
            text-transform: capitalize;
            line-height: 1;
        }

    }

    .scroll {
        font-size: 15px;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
        font-family: 'Open Sans', ;

        a {
            text-decoration: none;
            color: white;
            display: inline-block;
            padding-top: 45px;
        }
        span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 16px;
            height: 16px;
            margin-left: -12px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: scrolld 2s infinite;
            animation: scrolld 2s infinite;
            opacity: 0;
        }

        span:nth-of-type(1) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        span:nth-of-type(2) {
            top: 12px;
            -webkit-animation-delay: .15s;
            animation-delay: .15s;
        }

        @keyframes scrolld {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

    }

}

.blog_section {
    padding: 5rem 0 1rem;
    background-color: #f8f9fa;

    .row {
        display: flex;
        margin-bottom: 2rem;

        .post_img {
            display: flex;

            p {
                padding: 0 15px;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                }
            }
        }

        .post_text {
            padding: 0 15px;
            font-family: 'Mukta Mahee', sans-serif;
            color: #6c757d;

            p {
                font-size: 17px;
                line-height: 1.7;
                margin-bottom: 1rem;
                font-weight: 100;
            }
        }

        .col-md-4 {
            .row {
                .col-md-12 {
                    margin-left: 2rem;
                    padding: 0 15px;

                }
            }
        }

        form {
            background-color: white;
            padding: 2rem;
            box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.2);

            .form_group {
                position: relative;

                input {
                    border: 2px solid #ced4da;
                    height: 3rem;
                    width: 100%;
                    padding: 0.3rem;
                    padding-left: 2.5rem;
                    font-size: 18px;
                }

                input::placeholder {
                    font-size: 15px;
                }

                // input:focus{
                //     border-color: #343a40;
                // }

                .search_icon {
                    color: #6c757d;
                    position: absolute;
                    font-size: 17px;
                    top: 15px;
                    left: 14px;
                }
            }
        }

        .side_box {
            padding: 2rem;
            background-color: white;
            margin: 2rem 0;
            box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.2);

            h3 {
                text-transform: capitalize;
                font-family: 'Mukta Mahee', sans-serif;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }

            .post_list {
                list-style: none;

                li {
                    margin-bottom: 19px;

                    .post_link {
                        display: flex;
                        text-decoration: none;
                        color: black;

                        .card_img {
                            width: 10rem;
                            margin-right: 1rem;

                            img {
                                width: 100%;
                            }
                        }

                        .card_body {
                            margin-top: -5px;

                            .date {
                                color: #adb5bd;
                                font-family: 'Mukta Mahee', sans-serif;
                                font-weight: 100;
                                font-size: 14px;
                                margin-bottom: 5px;
                                display: block;
                            }
                        }
                    }
                }
            }

            .categories_list {
                list-style: none;
                font-family: 'Mukta Mahee', sans-serif;

                li {
                    a {
                        text-decoration: none;
                        border-bottom: 1px solid #e9ecef;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        display: block;
                        color: #007bff;
                        font-weight: 100;
                        font-size: 17px;
                        position: relative;

                        span {
                            color: #6c757d;
                            position: absolute;
                            right: 0;
                        }
                    }
                    a:hover{
                        color: #335c89;
                    }

                }
            }
        }
    }

}


@media only screen and (max-width: 420px) {

    .main_section {
        .row {
            top: 15rem;

            .col-12 {
                padding-left: 0;
            }

            h1 {
                font-size: 2.5rem;
            }

            .buttons {
                a {
                    display: block;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .blog_section {
        .row {
            display: block;

            .post_img{
                display: block;
                p{
                    padding: 0;
                }
            }
            .post_text{
                padding: 0;
            }

            .col_aside {
                .row {
                    .col-12 {
                        margin-left: 0;
                        padding: 0;
                    }
                }
            }
        }

        // .row .col-12:last-child .row .col-12{
        //     margin-left: 0;
        // }
    }
}

@media only screen and (min-width: 720px) and (max-width: 1023px) {
    .blog_section {
        .row {
            
            .col_aside {
                .row {
                    .col-12 {
                        margin-left: 1rem;
                    }

                }
            }

            form {
                padding: 1rem;
            }

            .side_box {
                padding: 0.8rem;
                margin: 1rem 0 !important;
                h3{
                    margin-bottom: 1rem;
                }
                .post_list {
                    .post_link {
                        .card_img{
                            margin-right: 10px !important;
                        }
                        .card_body {
                            .date {
                                margin-bottom: 0 !important;
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .blog_section {
        .row {
            .col_aside {
                .row {
                    .col-12 {
                        padding: 0;
                    }

                }
            }
        }
    }
}